<div class="card mx-auto" style="max-width: 800px; border-radius: 10px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);">
    <div class="card-header bg-success text-white" style="border-radius: 10px 10px 0 0;">
        <h5 class="mb-0">Confirmation</h5>
    </div>
    <div class="card-body">
        <h5 class="card-title">Le médecin a été ajouté avec succès</h5>
        <div class="alert alert-success" role="alert">
            <p class="card-text"><strong>Username:</strong> {{inscrit?.username}}</p>
            <p class="card-text"><strong>Mot de passe:</strong> {{inscrit?.mdp}}</p>
        </div>
        <div class="d-flex justify-content-end">
            <a href="/ajou" class="btn btn-success">OK</a>
        </div>
  </div>
  </div>