
<div class="cardBox">
    <div class="card">
        <div>
            <div class="numbers">{{nbr}}</div>
            <div class="cardName">En Attente</div>
        </div>

        <div style=" width: 40px;
        height: 40px;
        left: 24px;
        border-radius: 50%;
        background-color: #83eca2;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;position: relative; top: -12px; ">
            <img src="assets\images\user-status-pending-symbolic-svgrepo-com.svg">
        </div>
    </div>

    <div class="card">
        <div>
            <div class="numbers">{{nbrRepotre}}</div>
            <div class="cardName">Reportés</div>
        </div>

        <div style=" width: 40px;
        height: 40px;
        left: 24px;
        border-radius: 50%;
        background-color: #f4c486;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;position: relative; top: -12px; ">
            <img src="assets/images/appointment-symbolic-svgrepo-com.svg">
        </div>
    </div>

    <div class="card">
        <div  >
            <div class="numbers">{{nbrToday}}</div>
            <div class="cardName">Aujourd'hui</div>
        </div>

        <div style="width: 40px;
        height: 40px;
        left: 24px;
        border-radius: 50%;
        background-color: #a583ec;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        position: relative;
        top: -12px;">
<img src="assets/images/today-svgrepo-com.svg">
</div>

 </div>
    <div class="card">
        <div>
            <div class="numbers">{{nbrMed}}</div>
           
            <div class="cardName">Médecins</div>
        
         </div>
            <div style=" width: 40px;
            height: 40px;
            left: 24px;
            border-radius: 50%;
            background-color: #80bdff;
            color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: bold;position: relative; top: -12px; ">
            <img src="assets/images/people-svgrepo-com.svg">
            </div>
          
       
    </div>
   
</div>
