<!--<div c>getBlob</div>
<div *ngIf="imageSrc">
    <img [src]="imageSrc" alt="Image du patient">
  </div>-->
  <app-sidebar></app-sidebar>
  <div class="specialties-container">
    <div class="scroll-icons left"><span><i class="fas fa-angle-left"></i></span></div>
    <div class="specialty-cards">
      <div class="specialty-card">
        <img src="assets/images/Heart.png" alt="Specialty 1">
      </div>
      <div class="specialty-card">
        <img src="assets/images/Lungs.png" alt="Specialty 2">
      </div>
      <div class="specialty-card">
        <img src="assets/images/Stomach.png" alt="Specialty 3">
      </div>
      <div class="specialty-card">
        <img src="assets/images/Intestine.png" alt="Specialty 4">
      </div>
      <div class="specialty-card">
        <img src="assets/images/Spleen.png" alt="Specialty 5">
      </div>
      <!-- Ajoutez d'autres cartes pour d'autres spécialités -->
    </div>
    <div class="scroll-icons right"><span><i class="fas fa-angle-right"></i></span></div>
  </div>
  