<app-sidebar></app-sidebar>

<!--
<div class="doctors-container">
    <div *ngFor="let doctor of doctors" class="col-md-4 mb-4" class="doctor-card">
        ...
    </div>
</div>
-->

<body class="main-container" style="overflow: hidden !important; height: 100vh !important;">
    <!--<div  style="font-family: 'Poppins';top: 80px;left: 390px;position: fixed;"><h3>Bienvenue {{nom_conn}} {{prenom_conn}} </h3></div>-->
    <div class="input-group input-group-sm mb-5" style="width: 23%;top: 16%;  left:28%; margin-bottom: 0;position: relative; background-color: transparent; ">
        <input type="text" id="searchInput" class="form-control rounded-pill" matInput [matAutocomplete]="auto" [formControl]="searchTerm" placeholder=" Rechercher" aria-label="Search" aria-describedby="button-addon">
        <button class="btn" type="button" id="button-addon" (click)="searchMedecin()">
            <img src="assets\images\search-svgrepo-com.svg">
        </button>
    </div>
    <div class="col-md-6" style="background-color: white;">
        
            <button class="filterButton" mat-button [matMenuTriggerFor]="menu" (click)="fetchAllDepts()">
              Filtrer <i class="fa fa-caret-down" style="margin-left: 10px"></i>
            </button>
            <mat-menu #menu="matMenu" class="custom-menu">
              <ng-container *ngFor="let dept of deptNames">
                <button mat-menu-item class="deptNames" (click)="onClickOption(dept)" style="background-color: white;">
                  {{ dept }}
                </button>
              </ng-container>
            </mat-menu>
       
          
    </div>
    <div style="position: relative; overflow-y: auto; max-height: 100vh; margin-left: 50px; display: block;">
        <div *ngFor="let doctor of doctors" style="margin-bottom: 20px;">
        
            <div style="width: 200px; border-radius: 13px;margin-top: 33px;left: 350px;height: 70px;border: none;position: relative">
                <div class="card-body" style="display: flex; align-items: center; padding: 10px; background-color: white; border-radius: 13px; width: 730px; height: 80px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);">
                    <div class="rounded-circle overflow-hidden img-container" style="margin-right: 10px; border: 3px solid #B08EF2;">
                        <img *ngIf="images[doctor.cin]" [src]="images[doctor.cin]" class="card-img-top" alt="Skyscrapers" style="width: 52px; height: 54px;">
                    </div>
                    <div style="flex: 1;">
                        <h6 class="card-title" style="margin: 0; font-size: regular; font-family: Poppins;"><strong>{{ doctor.nom }} {{ doctor.prenom }}</strong></h6>
                        <p class="card-text text-secondary" style="font-size: smaller; color: grey; margin-top: 5px;">Médecin spécialisé en {{ doctor.specialite }}</p>
                    </div>
                </div>
                <div class="vertical-line" style="left: 285px;top: 46px;"></div>
                <div class="d-flex justify-content-between align-items-center"></div>
                <div style="position: relative;left: 290px;top: -42px;">
                    <span style="color: grey; font-size: smaller;"><img src="assets/images/location-svgrepo-com.svg">{{doctor.adr}}</span>
                </div>
                <div class="vertical-line" style="left: 413px;top: 46px;"></div>
                <div class="d-flex justify-content-between align-items-center">
                    <div style="position: relative;left: 420px;top: -65px;">
                        <span style="color: grey; font-size: smaller;"><img src="assets/images/telephone-svgrepo-com (1).svg">+212 {{doctor.tel}}</span>
                    </div>
                </div>
                <div class="vertical-line" style="left: 546px;top: 46px;"></div>
                <div class="d-flex justify-content-between align-items-center">
                    <div style="position: relative;left: 557px;top: -90px;">
                        <span style="color: grey; font-size: smaller;top: -41px;"><img src="assets/images/mail-alt-svgrepo-com (1).svg">{{doctor.email}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <mat-autocomplete #auto="matAutocomplete" class="mat-autocomplete-panel">
        <mat-option *ngFor="let doctor of filteredOptions | async" (click)="searchMedecin()" [value]="doctor.nom + ' ' + doctor.prenom">
            {{ doctor.nom }} {{ doctor.prenom }}
        </mat-option>
    </mat-autocomplete>
</body>
