
  <app-sidebar></app-sidebar>
  <app-card-box></app-card-box>
  <div class="container" >
  <div class="container-left no-padding no-margin">
    
    <div class="row no-padding no-margin">
      <div class="col-md-8 offset-md-2  no-padding no-margin">
        
        
          <div class="card-body">
            <div class="list-group">
              <div class="notification" *ngFor="let rdv of rendezVousList" (click)="openModal(rdv)">
                <span class="list-group-item list-group-item-action">
                  <div class="d-flex align-items-center justify-content-between">
                    <div class="d-flex align-items-center" style="margin-top: 3px;">
                      <div class="circle" >{{ rdv.nom.charAt(0).toUpperCase() }}{{ rdv.prenom.charAt(0).toUpperCase() }}</div>
                        <div style="margin-left: 10px;">
                      <div class="mb-0 ml-2" style="font-size: 15px; color:#41646e;margin-left: 10px;">{{ rdv.nom }} {{ rdv.prenom }}</div></div>
                      <div style="margin-left: 355px;  color: #999;font-size: 0.9rem; margin-bottom:0px; position: fixed;">{{rdv.dateDemande}}</div>
                      <div class="dropdown-container" style="margin-left: 750px;position: fixed; margin-bottom: 0px;"> <button type="button"  data-bs-toggle="dropdown" (click)="preventModal($event)">
                        <img src="assets\images\three-dots.svg"> <!-- Icône du menu déroulant -->
                        </button>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="#">Ignorer</a></li>
                        </ul></div>
                    </div>
                    <!--<small>2:00pm</small>-->
                  </div>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
 

